@media   (min-width: 481px) and (max-width: 768px)  {

#nav-sec{
    width: 100%;
}
#nav{
    
    display:flex;
    background-color: #f9f9f9;
    width: 100%;
    height: 3.5rem;
    align-items: center;
    justify-content:space-between ;
    position: fixed;
    z-index: 2;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);

}
#logo-holder{
    
}
#logo{

    width: 9.5rem;
    height: 3.2rem;
    margin-left: 1rem;
    
}
.nav-toggle {
    margin-left: 25rem;
    color:rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    
}
.nav-toggle:focus{
    
    border-color: #fdbb18;
    border-radius: 5px;
    padding: 4px;
}
#wrapper-nav-ul{
    visibility: hidden;
}
#nav-ul{

    height: 0;
}
#nav-ulx{
    display: none;  
}
.show-links {
    
    height: 30rem;
    visibility: visible;
    
}
#nav-ul li{
    top: 4rem;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    padding: 0.6rem;
    list-style: none;

}

#nav-ul li a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
#Cntct-btn{
    
    
}
#Cntct-btn a{
    width: 90% ;
    margin-right: 1rem;
    position: relative;
    color: #212529;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    background-color: #fdbb18;
    border-radius: 5px;
    padding: 0.60rem 0.90rem;
}
/*     NAV END    */

/* LIBRARY TABLET START */
.overlay{
    
    background: #002147 none repeat 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    
}
.case{
 
    height: 12.3rem;
    background-image: url(./img/inner-pagebg.jpg);
    position: relative;
    background-position-y:center ;
    z-index: 1;
}
.libphoto{
    display: none;
}
.libphotomobile{
    display: none;
}
.libphototablet {
    
   opacity: 0;
    /* width: 100%;
    box-sizing: border-box;
    opacity:0.5 ;
    position: relative; */
    
}   
.libtitle{
    display: block;
    width: 300px;
    display: flex;
    font-size: 1.09375rem;;
    font-weight: 600;
    position: relative;
    color: #002147;    
}
.lib-title-text{
    position: absolute;
    top:6rem;
    left:2rem; 
    z-index: 1;
}
.lib-heading{
    margin-left:5rem;
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight:500 ;
    line-height:48px;
}
.lib-cat{
    margin-left: 0.8rem;
}
.breadcrumb{  
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.border-breadcrumb{
    margin-left: 2rem ;
    margin-right: 2rem;
    border-bottom: 1px solid #DEE2E6;
}

a.bc-text3:hover{
    color: #c78e02;
}
ul.bc-text {
    font-size: 14px;
    text-decoration: none;
    display: block;
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    padding-inline-start: 40px;
}
.bc-text1{
    color: #666;
    font-weight: 500;
    font-size: 14px;
    margin-left: -2rem;
    margin-right: 10px;
}
.bc-text2{
    color: #666;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
}
.bc-text3{
    
    font-size: 14px;
    padding: 12px 11px 12px 4px;
    color: #666;
    font-weight: 500;
    font-size: 14px;
    display: block;
    
}
.align-left{
    width: 50%;
    padding-top: 30px;
    padding-left: 30px;
    
    
}

.align-border{
    margin-left: 1rem;
}

.fa-minus{
    margin-left: 0.5rem;
    margin-right: 1rem;
    color: #fdbb18;
    font-size: 20px;
    
}
.cat-line{
    margin-left: 150px;
    margin-right: 150px;
    color: #DEE2E6;
}
.article{
    
    width: 720px; 
    border-width:1px;
    color:gainsboro ;
    border-top: 1px solid gainsboro;
    margin-top: 2rem;
        
}
#border-line{
    display: none;
}
#d-top-flex{
    padding-left: 15px;
    
}
.search-container{
    right: 0px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    background-color: whitesmoke ;
    width: 715px;
    height: 86px;
}
.search button{
    border:none;
    border-right:solid 1px gainsboro;
    cursor: pointer;
    top: 1.19rem;
    
    position: absolute;
    height: 48px;
    width: 50px  ;
    background-color:white;
}
.search button i{
    font-size:  17px;
    color: grey;
}
.search-container input{
    margin-left: 2rem;
    padding:1rem;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: start;
    color: #495057;
    font-size: 18px;
    border:solid 1px gainsboro;
    
    width: 400px;
    height: 50px;
}
.search-container input:focus{
    outline: none;
    
}
#list-style{
    
    margin-left: auto;
    margin-right: 1.75rem;   
}
#bar{
    margin-right: 0.25rem;
}
#grid i{
    font-size: 18px;
    outline: none;    
    padding: 0.66rem;
    background-color: gainsboro;
    color:#969696;
}
#grid i:hover{
    transition: all ease 0.3s;
    color: white;
    background-color:#002147 ;
}
#bar i{
    font-size: 18px;
    outline: none;
    border:none;
    padding: 0.66rem;
    background-color: #002147;
    color: white;
}
.material{
    float: left;
    margin-top: 2rem;
    margin-right: 10px;   
    width: 350px;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;    
    
}
.lib-material{
    width: 349px;   
}


#d-top-flex{
    margin-bottom: 1rem;
    
}
.material-type{
    padding-left: 1rem;
    border:solid 1px gainsboro;
}
.material-type-text{
    padding-top: 1.5rem;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    color: #666666;
}
.material-stars{
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}
.rating_star_review{
    padding-top: 1.5rem;
    font-weight: 400;
    color: #FACC2E;
    line-height: 21px;
    font-size: 0.875rem;
    margin-left: auto;

}
.material-title-text{
    display: block;
    color: #002147;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: 18px;
    font-weight: normal;
    text-overflow: ellipsis;
}
.by{
    color: #002147;
    line-height: 32px;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.material-author{
    font-weight: 600;
    color: #002147;
    line-height: 32px;
    font-size : 14px;
    
}
.author-pad{
    margin-top: 15px;
    margin-bottom: 15px;

}

.fa-users{
    display: block;
    font-size: 20px;
    color: rgba(102,102,102);

}
.fa-star{
    font-size: 12px;
    font-weight: 400;
}
.button-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.material-button {
    padding: 1rem 0.1rem;
    display: flex
    
}
.material-button-a{
    
    font-weight: bold;
    color: #002147;
    font-size: 0.813rem;
    background: #fdbb18;
    text-decoration: none;
    padding: 11px 26px;
    
}
.material-button-b{
    font-weight: bold;
    color: #002147;
    font-size: 0.813rem;
    margin-right: 5px;
    margin-left: 5px;
    background: #fdbb18;
    padding: 11px 26px;
    
}

/* LIBRARY TABLET END */
/* DETAILS TABLET START */

.covering{
    background: #002147 none repeat 0 0;   
    height: 15rem;      
    position: relative;  
    width: 48rem;
    opacity: 0.5;
    top: 3.3rem;      
}
.detailsphotomobile{
    display: none;
}
.detailsphototablet{
    margin-top: 3.3rem;
    height: 15rem;  
    position: absolute;
    width: 48rem;
 
} 
.detailsphoto{ 
    display: none;
}

.headingandinput{
    z-index: 1;
    top: 8rem;
    right: 22rem;
    display: flex;
    width: max-content;
    position: absolute;
}
.material-title{
    display: block;  
    display: flex;
    font-size: 1.09375rem;;
    font-weight: 600;
    position: relative;
    color: #002147;   
}
.title-text{
  left: 10rem;
  top: 10rem;
}
.detailheading{    
    margin-top: 1rem;
    color: white;
    font-size: 40px;
    font-weight:500 ;
    line-height:48px;
}
#material-search-box{
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 8rem;
    width: 500px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ffffff;
    position: relative;
    color: white; 
}
::placeholder{
    color: white;
}
#details-search{
    top: 5rem;
    position: absolute;
    left: 0rem;
}
#details-search i{
    color: white;
}
#details-search input{
    color: white;
    width: 36rem;
    height: 3rem;
    font-size: 16px;
    font-weight: 400;
    padding-left: 1rem;
    background: transparent;
    border: 1px white solid;
    outline: none;
    position: relative;
}
#details-search button{
    cursor: pointer;
    right:0.2rem;
    font-size: 16px;
    color: white;
    border: none;
    background: transparent;
    position: absolute;
}
#details-search button i{
    line-height: 3rem;
    margin-right: 1rem;
}
#details-search ::-webkit-input-placeholder{
    color: white;
}

.fragment{   
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
a {
    color: #333;
    text-decoration-line:none ;
    
}
a.fr-text1:hover,.fr-text2:hover,a.fr-text3:hover{
    color: #c78e02;
}

ul.bc-text {
    font-size: 14px;
    text-decoration: none;
    display: block;
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    padding-inline-start: 40px;
}

.fr-text1{
    color: #666;
    font-weight: 500;
    font-size: 14px;
    margin-left: -2rem;
    margin-right: 10px;
}
.fr-text2{
    margin-right: 10px;
    color: #666;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
}

.fr-text3{
    
    color: #666;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
}
.border-fragment{
    margin-left: 2rem ;    
    border-bottom: 1px solid #DEE2E6;
}
.container-border{  
    margin-left: 4rem ;
    padding: 60px 0px;
    position: relative;
}

.dflex{
    margin: 2rem 2rem;
    display: flex;
}
.material-detail-border{
    width: 480px;
    padding-right: 30px;
}
.material-name{
    margin-bottom: 0.9em;
    font-size: 1.75rem;
    font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #002147;
}
.zoom-image-img{
    max-width: 100%;
    height: auto;

}
.pills{
    background: transparent;
    margin-top: 16px;
    margin-bottom: 16px;
    display: inline-block;
}
.detail-button{
 
    display: block;
    float: left;
    position: relative; 
    z-index: 1;
    background: #002147;
    border-radius: inherit;   
    padding: 20px 0; 
    width: 115px;   
    border: 1px solid #e7e7e7;
    text-align: center;
   
}
.review-button{
    display: block;
    float: left;
    position: relative; 
    z-index: 1;
    background-color: transparent;
    border-radius: inherit;   
    padding: 20px 0; 
    width: 115px;   
    border: 1px solid #e7e7e7;
    text-align: center;
}
.review-button:hover{
    background-color:#E9ECEF;
}
#detail-text{
    font-size: 14px;
    text-transform: uppercase;   
    color: white;
    font-weight: 600;
    letter-spacing: 0.6px;
}
#review-text{  
    font-size: 14px;
    text-transform: uppercase;   
    font-size: bolder;
    color: #002147;
    font-weight: 600;
    letter-spacing: 0.6px;
}
.content-border{
    border: 1px solid #DEE2E6
}

.content-info{
    height: 430px;
    padding: 1.5rem;
    border: 1px solid #DEE2E6 ;
}
.review-toggle{
    transition: opacity 0.15s linear;
    font-weight: 400;
    line-height: 1.5;
    color: #666666;
    text-align: left;
}
.review-course-form{
    display: block;
    margin-top: 0em;
    font-size: 0.875rem;
}

.form-margin{
    margin:  1rem;
}

.heading-text{
    margin-right: 5rem;
    color: #0069af;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #CED4DA;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control::placeholder{
    color: rgb(120, 127, 131);
}    
.stars{
   
    padding: 10px 10px;
    display: inline-block;
    padding-bottom: 2rem;      
    font-size: 36px;
    color: #444;
    transition: all .2s ;
}
.rating{
    
    position: absolute;
    padding-bottom: 2rem;
    transform: translate(-50%, -50%);
    display: flex;
  
}

.rating label{
    width: 20px;
    background: #fdbb18;
    display: block;
    cursor: pointer;
}


.stars:hover{
    transform: scale(1.4);   
    transition: .2s;  
    transform-style: preserve-3D;
}

.rating {
    margin:1rem 3rem ;  
    unicode-bidi:embed;
    direction: rtl;
}
.rating > i.stars {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > i.stars:hover:before,
.rating > i.stars:hover ~ i.stars:before {
    content: "\2605";
    position: absolute;
    color: #fdbb18;
    transform-origin: center center;
    
}
.submit-btn{
    
    top: 4rem;
}
.btn-primary-submit{
    
    bottom: 0;
    padding: 30px 100px;
    margin-left: 1rem;
    font-size: larger;
    width: fit-content;
    color: #002147;
    font-weight: bold;
    background-color: #fdbb18;
    border-color: #fdbb18;  
}


.detail-text{
    color: #666;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
}
.description-border{
    margin-bottom: 1rem 0rem;
}
.side-bar{
    border-left: 1px solid #e7e7e7;
    min-width: 100px;
    display: block;
    position: relative;
    padding: 15px 15px 0px 30px;

}
.read-now-btn{
    top: 0;
    padding-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #e7e7e7;
    max-width: 100%;
}
.btn-primary{
    padding: 20px 30px;
    color: #002147;
    font-weight: bold;
    background-color: #fdbb18;
    border-color: #fdbb18;
}

.attributes{
    padding: 0.3rem 0rem;
}
.text-primary{
    margin-top: 0.8rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666666;
    text-align: left;
}
.text-secondary{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    color: #002147
}
.d-flex{
    display: flex;
}
.fa-star.article{   
    color: #fdbb18; 
    font-size: 12px;    
        
}   
.text-epsilon{  
    font-size: 13px;    
}   
.review-text{   
    font-size: 15px;    
    line-height: 1.5;   
    color: #002147; 
}   
    
    
/* DETAILS TABLET END */    
/*        FOOTER        */  
#footer{    
    float: right;   
    margin-bottom: 0rem;    
    margin-top: 5rem;
    background-color: #002147;
}
#footer-text{
    padding-top: 4rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
#footer-text h5{
    color: #ffffff;
    font-size: 17.5px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
}
#footer-text p{
    margin-top: 1rem;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
#footer-text a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
#footer-text ul{
    margin-top: 1rem;
    list-style: none;
}
#footer-text li{
    padding:0.25rem;
}
#footer-text i{
    color: #ffffff;
}
#useful{
    
    margin-left: 1rem;
}
#footer-about{
    margin-top: 3rem;
    width: 80%;
    margin-left: 1rem;
}
#connect{
    margin-top: 3rem;
    margin-left: 1rem;
}
#social-media i{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    
}
/*       FOOTER END       */
}