@media   (min-width: 320px) and (max-width: 480px)  {

    /*       NAV      */

#nav-sec{
    width: 100%;
}
#nav{

    
    display:flex;
    background-color: #f9f9f9;
    width: 100%;
    height: 3.5rem;
    align-items: center;
    justify-content:space-between ;
    position: fixed;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    
        
    

}
#logo-holder{
    
}
#logo{
    width: 9.5rem;
    height: 3.2rem;
    margin-left: 1rem;
    
    
    
}
.nav-toggle {
    color:rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    
   
  }
  .nav-toggle:focus{
    border-color: #fdbb18;
    border-radius: 5px;
    padding: 4px;
}
#wrapper-nav-ul{
    
    visibility: hidden;
}
#nav-ul{
   
   height: 0;
    
    
    
    
}

.show-links {
    
    height: 30rem;
    visibility: visible;
    
   }
#nav-ul li{
    top: 4rem;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    padding: 0.6rem;
    list-style: none;
   
}

#nav-ul li a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
#Cntct-btn{
    
    
}
#Cntct-btn a{
    width: 90% ;
    margin-right: 1rem;
    position: relative;
    color: #212529;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    background-color: #fdbb18;
    border-radius: 5px;
    padding: 0.60rem 0.90rem;
}


/*     NAV END    */

/*      MAIN PAGE     */
#main-page{
    
    overflow: hidden;
        
}
#main-text{
    
    position: absolute;
    top: 8.5rem;
    left: 1rem;
}
#main-text h1{
    line-height: 12px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 2rem;
}
#main-text p{
    position: absolute;
    max-width: 100%;
    color: #ffffff;
    font-size: 18px;
    padding-bottom: 3rem;
    line-height: 27px;
}
#main-bckgrnd{
    
    overflow: hidden;
    position: relative;
}
#main-bckgrnd img{
   
    height: 42rem;    
}
#main-btns{
    margin-top: 14.5rem;
}
#main-btns #a1{
    position: relative;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 14px;
    border: 2px solid #ffffff;
    color:#ffffff;
    text-decoration: none;
    padding: 1rem 1.10rem;
    margin-right: 1.5rem;


}
#main-btns #a1:hover{
    background-color: #ffffff;
    color: #002147
}
#main-btns #a2{
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 14px;
    border: 2px solid #fdbb18;
    background-color: #fdbb18;
    color: #002147;
    text-decoration: none;
    padding: 1rem 1.15rem;
}
#main-btns #a2:hover{
    color: #ffffff;
}
#student{
    overflow: hidden;
}
#student img{
    display: none;
    overflow: hidden;
    position: absolute;
    bottom: 25rem;
    left: 22rem;
    width: 415px;
    
    
    
}
#clr-brd{
    overflow: hidden;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    bottom: 5rem;
    display: flex;
    position:relative;
    flex-direction: column;
    
    
    
}
.brd-icon{

    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    color: #f6f6f6;
}
.board{
    width: 100%;
    display: flex;
    height: 50%;
}
#h-1{
    
    background-color: #307ad5;
    padding: 4rem 1rem;
}

#h-1 h5{
    
    padding-bottom: 0.60rem;
}
#h-2 h5{
    padding-bottom: 0.60rem;
}
#h-3 h5{
    padding-bottom: 0.60rem;
}
#h-4 h5{
    padding-bottom: 0.60rem;
}
#h-2{
    background-color: #e959ad;
    padding: 4rem 1rem;
}
#h-3{
    background-color: #52c2da;
    padding: 4rem 1rem;
}
#h-4{
    background-color: #67c55e;
    padding: 4rem 1rem;
}

/*   MAIN PAGE END   */

/*    ABOUT      */
.container{
    display: flex;
    flex-direction: column;
}
#about{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 2rem;
}
#border-left{
    max-width: 100%;
    text-align: left;
    border-left: 2px solid #fdbb18;
    padding-left: 1rem;
    padding-right: 1rem;
}
#border-left h2{
    line-height: 57.6px;
    font-weight: 700;
    font-size: 48px;
    color: #002147;
    margin-bottom: 1rem;
}
#border-left span{
    line-height: 57.6px;
    font-weight: 400;
    font-size: 48px;
    color: #002147;
}
#border-left p{
    color: #666666;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 1.25rem;
}
#border-left2 p{
    max-width: 100%;
    color: #666666;
    font-size: 14px;
    line-height: 21px;
    margin-bottom:1.25rem;
    
    
}
#about-btn a{
    margin-top: 0.80rem;
    font-weight: 700;
    padding: 12px 40px 12px;
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #002147;
    border: 2px solid #002147;
    text-decoration: none;
}
#about-btn a:hover{
    background-color: #002147;
    color: #ffffff;

}
#about-text{
    
    max-width: 100%;
}

#banner1{
    margin-top: 2rem;
    position: absolute;
    width: 346px;
    height: 230px;
}
#about-link a{
    position: relative;
    left: 48%;
}
#plybtn{
    width: 160px;
    height: 160px;
    position: relative;
    right: 5rem;
    bottom: 2.5rem;
}

/*      ABOUT END        */

/*      COURSES          */
#main{
    width: 100%;
}
#courses{
    width: 100%;
    margin-top: 10rem;
    position: relative;
    
}
#courses-bg{
   height: 2000px;
   width: 100%; 
}

#section-container{
    position: absolute;
    top: 7rem;
    margin-left:1rem auto;
}
#courses-holder{
  display: flex;
  flex-direction: column;
    
}

#courses-text{
    width: 95%  ;
    text-align: left;
    border-left: 2px solid #fdbb18;
    margin-bottom: 6rem;
    padding-left: 1rem;
    padding-right: 1.25rem;
    position: relative;
    margin-left: 1rem;
}
#courses-text h2{   
    line-height: 57.6px;
    font-weight: 700;
    font-size: 48px;
    color: #002147;
    margin-bottom: 1rem;
}
#courses-text span{
    line-height: 57.6px;
    font-weight: 400;
    font-size: 48px;
    color: #002147;
}
#courses-text p{
    max-width: 100%;
    color: #666666;
    font-size: 14px;
    line-height: 21px;
    margin-bottom:1.25rem;
    padding-right: 2rem;
}
#courses-btn{
    left: 1rem;
    max-width: 48%;
    top: 11rem;
    position:absolute;
    
}
#courses-btn a{

    background-color: #002147;
    text-decoration: none;
    font-weight: 700;
    padding: 12px 40px 12px;
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    border: 2px solid #002147;
    
}
#img-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.img-text{
    
    background-color: #ffffff;
    width: 100%;
    height: 7.5rem;
}

.img-text h5{
    margin-top: 1rem;
    margin-left: 1rem;
    color: #000000;
    font-size: 17.5px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    margin-bottom: 0.5rem;
}
.img-text p{
    margin-left: 1rem;
    font-size: 14px;
    color: #666666;
    line-height: 21px;
    text-align: left;
}
.img-holder{
    margin: 1rem;
}
.img-holder img{
   width: 100%;
   height: 100%;
   
    
    
}

.img-holder a{
    text-decoration: none;
    
    
}
.img-holder a span{
    font-size: 14px;
    padding: 0.5rem;
    color: #ffffff;
    background-color: #fdbb18;
    top: 0;
    left:0;
    position: absolute;
}
#scale{
    
    position: relative;
    overflow: hidden;
}
.hovereffect{
    
    background-color: #ffffff;
    width: 100%;
    height: 5rem;
    position: relative;
    
   
}

.duration{
    color: #666666;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    line-height: 18px;

}


.apply-btn{
    padding: 0.33rem;
    bottom: 0;
    position: absolute;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: #fdbb18;
    border:#fdbb18 solid;
    width:11rem;
    text-align: center;
}
.apply-btn a{
    color: #002147;
}

/*       COURSES END       */

/*       ACHIEVE           */  
#our-achieve{
    margin-top:  5rem;
    margin-left: 1rem;
    text-align: left;
    border-left: 2px solid #fdbb18;
    margin-bottom: 6rem;
    padding-left: 1.5rem;
    padding-right: 1.25rem;
}
#our-achieve h2{
    line-height: 57.6px;
    font-weight: 700;
    font-size: 48px;
    color: #002147;
    margin-bottom: 1rem;
}
#our-achieve span{
    line-height: 57.6px;
    font-weight: 400;
    font-size: 48px;
    color: #002147;
}
#our-achieve p{
    width: 90%;
    font-size: 14px;
    color: #666666;
    line-height: 21px;
    text-align: left;
}
#achieve-row{
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-width: 50%;
    
    
}

.stick{
    display: none;
    right: 7px;
    top: 8px;
    background-color: #e1dddd;
    content: "";
    width: 3px;
    height: 50px;
}
.row img{
    width: 50px;
    height: 50px;
}
.row-text{
    margin-top: 2rem;
    margin-right: 2rem;
    float: left;
}
.row-text h2{
    
    margin-left: 2rem;
    color: #fdbb18 ;
    font-size: 42px;
    font-weight: 700;
    line-height: 50.4px;
    text-align: left;
}
.row-text p{
    margin-left: 2rem;
    color: #002147;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}
#dep-container{
    margin-bottom: 5rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 2.5rem;
    max-width: 100%;
}
#dep-text-cont{
    background-image: url(./img/testi.png);
    height: 364px   ;
    width: 100%;
    
}
#dep-img{
    width: 50%;
}
#dep-img img{
  
    width: 345px;
    height: 260px;
  
}
#dep-text{
    position: relative;
    background-color: #002147;
    padding: 1rem 1rem 0 1rem;
    opacity: 0.95;
    width: 345px;
    height: 364px;
    background-repeat: no-repeat;
}
#quote-right{
   position: relative;
   left: 13rem;
}
#dep-text i{
    color: #ffffff;
    margin-bottom: 2rem;
}
#dep-text #txt1{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-bottom: 2rem;
}
#dep-text #txt2{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    margin-bottom: 2rem;
}

#dep-text h5{
    color: #ffffff;
    font-size: 17.5px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    margin-bottom: 1rem;
} 

/*       ACHIEVE END          */

/*       TEACHER             */
#teacher{
    
}
#teacher-text{
    margin-top: 10rem;
    border-left: 2px solid #fdbb18;
    margin-left: 1rem;
}
#teacher-text h2{
    color: #002147;
    font-size: 48px;
    font-weight: 700;
    line-height:57.6px;
    text-align: left;
    margin-bottom: 1rem;
    padding-left: 1rem;
}
#teacher-text span{
    line-height: 57.6px;
    font-weight: 400;
    font-size: 48px;
    color: #002147;
}
#teacher-text p{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding-left: 1rem;
    width: 90%;
}
#teacher-holder{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.teacher-img{
    margin-top: 1.80rem;
    padding-left: 1rem;
    position: relative;
    height: 16rem;
    margin-bottom: 11rem;
   
    
}
.teacher-img img{
    width: 21.5rem;
    height: auto;
}

.teacher-info{
    background-color: #ffffff;
    width: 45%;
    padding:1rem;
   
    top: 22rem;
    left: 13rem;
    position: absolute;
    transition: all ease 0.5s;
}

.teacher-img:hover> .teacher-info {transform: scale(0);} 


.teacher-info h4{
    color: #002147;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: right;
}
.teacher-info h5{
    color: #002147;
    font-size: 17.5px;
    font-weight: 500;
    line-height: 21px;
    text-align: right;

}
.teacher-content{
    height: 25.7rem;
    width: 21.5rem;
    height: 440px;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    padding:2rem;
    background-color: #fdbb18;
    opacity: 0.85;
    transform: scale(0);
    transition: all ease 0.5s;
    
    
    
    
    
}

.teacher-img:hover  .teacher-content{transform: scale(1);}





.teacher-content h4{
    margin-top: 5rem;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: center;
}
.teacher-content h5{
    margin-top: 2rem;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: center;

}
.teacher-content p{
    margin-top: 2rem ;
    color:#ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}
.teacher-content ul{
    display: flex;
}
.teacher-content ul li{
    margin-top: 3rem;
    padding: 0.5rem;
    list-style: none;

}

/*         TEACHER END         */

/*         EVENT               */
#event{
    width: 100%;
    background-image: url(./img/bg-3.jpg);
}
#event{
    width: 100%;
}
#event-text{
    text-align: left;
    border-left: 2px solid #fdbb18;
    padding-left: 1.1rem;
    padding-right: 1.25rem;
    margin-left: 1rem;
    margin-top: 5rem;
}
#event-text h2{
    color: #002147;
    font-size: 48px;
    font-weight: 700;
    line-height:57.6px;
    text-align: left;
    margin-bottom: 1rem;
    
}
#event-text span{
    line-height: 57.6px;
    font-weight: 400;
    font-size: 48px;
    color: #002147;
}
#event-text p{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    max-width: 100%;
}

.event-img-section{
    
    position: relative;
    padding: 1rem;
}
.event-img{
    width: 100%;
    position: relative;
}
.event-img img{
   
}
#event-img-holder{
    
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    
}

.event-img-text{
    background-color: #ffffff;
    padding: 1.5rem;
}
.event-img-text a{
    color: #002147;
    text-decoration: none;
    font-size: 17.5px;
    font-weight: 700;
    text-align: left;
    line-height: 21px;
}
.event-img-text p{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-top: 0.66rem;
}
.event-date{
    background-color: #fdbb18;
    width: 20%;
    padding: 1rem;
    top: 35%;
    position: absolute;
}
.event-date span{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    
}
.event-img{

   overflow: hidden;
}
.event-img img{
    width: 100%;
    
    
      
   
}

.event-ld{
    text-align: center;
    display: flex;
    margin-top: 1.5rem;
    width: 100%;
    
    
}
.event-location{
    width: 70%;
}

.event-date2{
    width: 40%;
}
.event-location span,.event-date2 span{
    color: #fdbb18;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    line-height: 21px;
    width: 15px;
}

/*          EVENT END          */

/*          NEWSFEED           */

#newsfeed-text{
    text-align: left;
    border-left: 2px solid #fdbb18;
    padding-right: 1.25rem;
    margin-left: 1rem;
    margin-top: 5rem;   
}
#newsfeed-text h2{
    color: #002147;
    font-size: 48px;
    font-weight: 700;
    line-height:57.6px;
    text-align: left;
    margin-bottom: 1rem;
    padding-left: 1rem;
}
#newsfeed-text span{
    line-height: 57.6px;
    font-weight: 400;
    font-size: 48px;
    color: #002147;
}
#newsfeed-text p{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding-left: 1.5rem ;
}

#newsfeed-img-holder{
    width: 345px;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 1rem;
    
    
    
    
}
.newsfeed-img {
    
    
    overflow: hidden;
    position: relative;
    width: 345px;
    
    
}
.newsfeed-img img{
    
    width: 345px;
    
      
    
}

.newsfeed-img span{
    
    left: 1.2rem;
    bottom:-0.4rem;
    position: absolute;
    color: #ffffff;
    background-color: #fdbb18;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding: 0.5rem 1rem;
}
.newsfeed-bottom-text a{
    text-decoration: none;
    color: black;
    
}
.newsfeed-bottom-text h6{
    margin-left: 1rem;
    margin-top: 2rem;
    color: black;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
}
.newsfeed-bottom-text p{
    margin-left: 1rem;
    margin-top: 2rem;
    color: #666666;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
}
.newsfeed-ul{
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    list-style: none;
}
.newsfeed-ul a{
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.newsfeed-ul li{
    padding-right: 2rem;
}
.newsfeed-ul i{
    color: #fdbb18;
}
.blog-date{
    margin-bottom: 2rem;
    padding: 0.25rem 1rem;
    margin-top: 1rem;
    width: 100%;
    background-color: #002147;
    
    
}
.blog-date i{
    align-items: center;
    margin-left: 1rem;
    color: white;
}
.blog-date span{
    margin-left: 1rem;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    color: white;
}

/*         NEWSFEED END            */

/*         FOOTER                 */
#footer{
    
    
    margin-top: 5rem;
    background-color: #002147;
}
#footer-text{
    padding-top: 4rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
#footer-text h5{
    color: #ffffff;
    font-size: 17.5px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
}
#footer-text p{
    margin-top: 1rem;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
#footer-text a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
#footer-text ul{
    margin-top: 1rem;
    list-style: none;
}
#footer-text li{
    padding:0.25rem;
}
#footer-text i{
    color: #ffffff;
}
#useful{
    
    margin-left: 1rem;
}
#footer-about{
    margin-top: 3rem;
    width: 80%;
    margin-left: 1rem;
}
#connect{
    margin-top: 3rem;
    margin-left: 1rem;
}
#social-media i{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    
}

/*       FOOTER END       */

/*       MOBILE ICONS     */
.fa-facebook-f{
    color: white;
    background-color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    
    border-radius: 50%;
    line-height: 48px;
    text-align: center;
   
    text-indent: 0;  
    color: #0054a6;
    

}
.fa-facebook-f:hover{
    color: #ffffff;
    background-color: #0054a6;
}
.fa-youtube{
    color: white;
    background-color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    
    border-radius: 50%;
    line-height: 48px;
    text-align: center;

    text-indent: 0;  
   
}
.fa-youtube:hover{
    color: #ffffff;
    background-color:#c4302b;
}
.fa-twitter{
    color: #38a1f3;
    
    
    background-color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    
    border-radius: 50%;
    line-height: 48px;
    text-align: center;
    
    text-indent: 0;  
}
.fa-twitter:hover{
    color: #ffffff;
    background-color:#38a1f3 ;
}
.fa-google-plus-g{
    color: white;
    background-color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    
    border-radius: 50%;
    line-height: 48px;
    text-align: center;
    
    text-indent: 0;  
    color: #cc3333;
   
}
.fa-google-plus-g:hover{
    color: #ffffff;
    background-color: #c4302b;
}
#footer .fa-home{
    
    
    color: #343A40 ;
    background-color: white  ;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #002147;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    text-indent: 0;  
}

/*       FOOTER END       */

/*       HOME PAGE END              */



/*       COURSES PAGE START          */

/*       OVERLAY          */


#page-bg{
    background-color: #002147;
    position: relative;

    height: 15.5rem;


    }
#page-bg h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: white;
    position: absolute;
    top: 6.5rem;
    left: 1rem;
    z-index: 1;
}

#page-bg #main-img{
    display: none;
    width: 100%;
    opacity: 0.5;  
    height: 15.5rem; 
    
}
#page-bg #tablet-img{
    width: 100%;
    opacity: 0.5;  
    height: 15.5rem; 
}

#details-search{
    left: 1.75rem;
    top: 10rem;
    position: absolute;
   
}
#details-search input{
    
    width: 20rem;
    height: 3rem;
    
    font-weight: 400;
    padding-left: 1rem;
    background: transparent;
    border: 1px white solid;
    outline: none;
    position: relative;
}
#details-search button{
    cursor: pointer;
    right:0.2rem;
    font-size: 16px;
    color: white;
    width: 3rem;
    height: 3rem;
    border: none;
    background: transparent;
    position: absolute;
}
#details-search i{
    color: white;
}
#details-search ::-webkit-input-placeholder{
    color: white;
}
/*      HC-ROW       */
#HC-row{
    display: none;
}
#HC-row ul{
    margin-top: 0.88rem;
    margin-left: 2rem;
    list-style: none;
    display: flex;
}
#HC-row ul a{
    margin-left: 1rem;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
#HC-row ul a:hover{
    color: #c78e02;
}
/*      HC-ROW END       */

/*       MAIN-ASIDE       */

#container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    
}
#aside{
    margin-top: 4rem;
    margin-left: 1rem;
    
   
}
#aside h5{
    
    color: #002147;
    font-size: 17.5px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
}
#aside span{
    color: #fdbb18;
    font-size: 24px;
}
#aside a{
    font-size: 14px;
    text-decoration: none;
    color:#666
}
#aside li{
    margin-top: 0.88rem;
}
#aside a:hover{
    color: #c78e02;
}
#aside ul{
    list-style: none;
}
#category   {
    padding-bottom: 1rem; 
    margin-right: 1rem;
    border-bottom: solid 1px gainsboro;
}
#price{
    margin-top: 1rem;
    border-bottom: solid 1px gainsboro;
    padding-bottom: 1rem; 
    margin-right: 1rem;
}
#become-instructor{
    margin-top: 2rem;
}
#instructor-link{
    background-color: #fdbb18;
    color: white !important;
    padding: 0.55rem 0.7rem;
}
#instructor-link:hover{
    transition: all ease 0.5s;
    background-color: #e3a302;
    color: gainsboro !important;
}
#rank-part{
    margin-top: 2rem;
}
#rank-top-name{
    display: flex;
    align-items: center;

    
    
}
#top-name-link{
    display: none;
    margin-left:  5rem;
}
#top-name-link a{
    
    font-size: 14px;
    color: #333 ;
}
#rank-top-name img{
    margin-right: 0.5rem;
    width: 1.375rem;
    height: 1.375rem;
}
#next-rank{
    margin-top: 1.5rem;
}
#next-rank p{
    color: rgba(102, 102, 102, 0.7);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;

}
#circle{
    position: relative;
}
#circle img{
    width: 4rem;
    height: 4rem;
}
.donut{
    margin-left: 3rem;
    width: 18rem;
    height: 18rem;
}
#rank-rating{
    position: absolute;
    top: 4rem;
    left: 8.35rem;
    text-align: center;
}
#rank-rating p{
    color: #002147;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
}
#rank-rating span{
    color: #fdbb18;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
}
#rr-p-tag{
    color: #666 !important;
    font-size: 11.2px !important;
    font-weight: 700;
    line-height: 17px !important;
}
#level-container{
    align-items: center;
    width: 100%;
    display: flex;
}
#level-text{
    width: 60%;
}
#level-text p{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
#level-img{
    margin-left: 3rem;
}
#level-img img{
   width: 5rem;
   height: 5rem;
}
#leaderboard{
    width: 100%;
    margin-top: 1rem;
    border-bottom: solid 1px gainsboro;
    padding-bottom: 0.34rem;
    padding-right: 1rem;
}
#ldrbrd-title{
    display: flex;
    align-items: center;
}
#ldrbrd-title p{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    
}
#ldrbrd-link{
    margin-left: auto;
}
#ldrbrd-title h4{
    
    color: #002147;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}
#aside-people{
    margin-top: 2rem;
}
.peoples{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.peoples img{
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
}
.peoples b{
    margin-right: 0.5rem;
    color:#666;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}
.people-text{
    text-align: center;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}
.people-text-span1{
    
    color: #666 !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 18.2px !important;
    text-align: left !important;
}
.people-text-span2{
    color: #ADB5BD !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;
}
.people-text-span3{
    border-radius: 0.2rem 0.5rem;
    padding: 0.2rem 0.5rem;
    color: #ffffff !important;
    background-color: #469408;
    font-size: 10.5px !important;
    font-weight: 700 !important;
    line-height: 10.5px !important;
    text-align: center !important;

}



/*     MAIN-ASIDE END       */

/*     ARTICLE        */
#article{
    margin-top: 4rem;
    margin-left: 0.75rem;
}
#search{
    
}
#search-container{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20rem;
    background-color: whitesmoke ;
    width: 22rem;
    height: 5.5rem;
}
#search button{
    border:none;
    border-right: solid 1px gainsboro;
    border-bottom: solid  1px gainsboro;
    border-top:solid 1px gainsboro;
    cursor: pointer;
    top: 1.13.5rem;
    right: 1rem;
  position: absolute;
   height: 50.1px;
   width: 50px  ;
   background-color:white;
}
#search button i{
    font-size:  17px;
    color: grey;
}
#search-container input{
    margin-left: 1rem;
    padding:1rem;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: start;
    color: #495057;
    font-size: 18px;
    border:solid 1px gainsboro;
   
    width: 20rem;
    height: 50px;
}
#search-container input:focus{
    outline: none;
    
}
#list-style{
    display: none;
    margin-left: auto;
    margin-right: 1.75rem;


    
}
#bar{
    margin-right: 0.25rem;
}
#grid i{
    font-size: 18px;
    outline: none;
    
    padding: 0.66rem;
    background-color: gainsboro;
    color:#969696;
}
#grid i:hover{
    transition: all ease 0.3s;
    color: white;
    background-color:#002147 ;
}
#bar i{
    font-size: 18px;
    outline: none;
    border:none;
    padding: 0.66rem;
    background-color: #002147;
    color: white;
}
#content-container{
    display: flex;
    flex-direction: column;
}
.content{
    margin-top: 2rem;
    width: 96%;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    border:solid 1px gainsboro;
   
    
}
.content-photo{
   width: 100%;
    
    height: 13.75rem;
}
.content-photo img{
    width: 100%;
    
    height: 13.75rem;
}
.content-text{
 
   padding:1rem;
}
.d-top-flex{
    margin-bottom: 0.25rem;
    display: flex;
}
.course-instructor{
    
    display: flex;
}
.course-instructor img{
width: 2rem;
height: 2rem;
}
.d-bottom-flex{
    display: flex;
    margin-top: 1rem;
}
.subject-title{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: #666;
}
.website-rating{
    margin-left: auto;
}
.fa-star{
    color: #FACC2E;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

}
.course-title{
    margin-bottom: 1rem;
}
.course-title h2{
    margin-bottom: 0.75rem;
}
.course-title h2 a{
    font-size: 18px;
    text-align: left    ;
    line-height: 22.4px;
    font-weight: 400;
    text-decoration: none;
    color: #002147;
}
.course-title p{
    display: none;
    color: #212529;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
}
.price{
    margin-left: auto;
}
.course-instructor span{
    margin-left: 0.50rem;
    color: #002147;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
.course-instructor .span2{
    color: #002147;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;

}
.course-instructor .span3{
    
    color: #002147;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
}
.fa-users{
    color: #666;;
}
.course-student b{
    color: #666;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.enroll{
    margin-left: auto;
}
.enroll a{
    text-decoration: none;
    background-color: rgb(253, 187, 24);
    color: rgb(0,33,71);
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: right;
    padding: 0.5rem 1.5rem;
}
/*      ARTICLE END         */

/*      PAGINATION          */
#pagination ul{
    display: flex;
}
#pagination a{
    text-decoration: none;
}
#pagination li{
    list-style: none;
}
#Prev{
    pointer-events: none;
    cursor: default;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0.5rem 0.66rem;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    border: solid 1px gainsboro;
}

#FirstP{
    padding: 0.5rem 0.7rem;
    color: #212529  ;
    background-color: #fdbb18;
    border:solid 1px #fdbb18;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
#FirstP:hover{
    
}
#SecondP{
    padding: 0.5rem 0.7rem;
    color: #c78e02;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    border: solid 1px gainsboro;
}
#SecondP:hover{
    color: #b34700;
    background: whitesmoke;
}
#Next{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0.5rem 0.66rem;
    color: #c78e02;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    border: solid 1px gainsboro ;
}
#Next:hover{
    color: #b34700;
    background: whitesmoke;
}
/*      COURSES DETAILS START     */

#course-details-container{
    display: flex;
    flex-direction: column;
    
    margin-top: 1rem;
    position: relative;
     
  
}
#course-details-article{
    margin-top: 2rem;
    margin-left: 1rem;
}
#course-details-article h2{
    color: #002147;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
}
#course-details-teacher{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
}
#course-details-teacher span{
    font-size: 14px;
    color:#666;
}
#course-details-teacher p{
    color: #002147;
    font-size: 14px;
    font-weight: 700;
    line-height:  28px;
}
#cd-teacher{
    display: flex;
    align-items: center;
}
#cd-teacher-info{
    margin-left: 1rem;
}
#cd-teacher img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
}
#cd-category{
   
  margin-top: 1rem;
    
}
#cd-review{
    
    margin-top: 1rem;
   
   
}
#progressbar{
   
    margin-top: 2rem;
    background: #f3f3f3;
    width: 21rem;
    height: 1.125rem;
}
#progress{
    text-align: center;
    width: 11.625rem;
    background: #a1d847;
    font-size: 14px;
    font-weight: 600;
}
#cd-image{
    
    width: 21rem;
    margin-top: 2rem;
    
}
#cd-image img{
    width: 21rem;
}
#image-bottom-flex{
    
    margin-top: 2rem;
    
}
#bottom-flex-links{
    
  
    display: flex;
    flex-direction: column;
    list-style: none;
    
}
#bottom-flex-links li{

    text-align: center;
    padding-top: 1.3rem;
    
    width: 21rem;
    height: 4rem;
    border: 1px solid gainsboro;
}
#bottom-flex-links li:hover{
    background: whitesmoke;
}

#bottom-flex-links a{
    text-decoration: none;
    color: #002147;
    line-height: 21px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.06rem;
}

#ibf1 a {
   color: white;
    
}
#bottom-flex-links #ibf1{
    background:#002147;
}
#cd-description{
    margin-top: 2rem;
}
#cd-description h2{
    
    color: #333;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.5px;

}
#cd-description-text{
    margin-top: 0.5rem;
    width: 20rem;
}
#cd-description-text p{
   
    color: #666;
    font-size: 16px;
    line-height: 22.4px ;
    font-weight: 400;
    padding-top: 2rem;
}
#course-content{
    margin-top: 2rem;
}
#course-content h2{
    
    color: #333;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.5px;
}
#course-content-schedule{
    margin-top: 2rem;
}
#course-content-schedule a{
    text-decoration: none;
}
.cc-schedule{
    text-align: left;
    
    position: relative;
    padding: 1rem;
    border: 1px solid gainsboro;
    width: 21rem;
    height: 3.25rem;
}
.cc-schedule i{
    color: #666;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

}
.cc-schedule span{
    margin-left: 1rem;
    color: #666;
    font-size: 12px;
    font-weight: 900;
    line-height: 21px;

}
.cc-schedule-span2{
    float: right
}
#course-details-instructor{
    
    margin-top: 2rem;
}
#course-details-instructor h2{
    color: #333;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.5px;
}
#instructor-details{
    
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2rem;
    width: 21.5rem;
   
    background:whitesmoke;
    border: 1px solid gainsboro;
}
#instructor-image{
    margin-left: 4rem;
    border: 5px solid white ;
    width: 8.7rem;
    height: 8.7rem;
}
#instructor-social{
    margin-left:3rem;
    margin-top: 4rem;
}
#instructor-social i{
   padding-left: 1rem;
}
#instructor-social .fa-facebook-f{
    color:#666;
    font-size: 14px;
    font-weight: 400;
}
#instructor-social .fa-facebook-f:hover{
    color: #333;
}
#instructor-social .fa-twitter{
    color:#666;
    font-size: 14px;
    font-weight: 400;
}
#instructor-social .fa-twitter:hover{
    color: #333;
}
#instructor-social .fa-google{
    color:#666;
    font-size: 14px;
    font-weight: 400;
}
#instructor-social .fa-google:hover{
    color: #333;
}
#instructor-social .fa-linkedin{
    color:#666;
    font-size: 14px;
    font-weight: 400;
}
#instructor-social .fa-linkedin:hover{
    color: #333;
}
#instructor-info{
    text-align: center;
}
#instructor-info h4{
    color: #333;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.5px;
}
#instructor-info span{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
#instructor-info p{
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#course-details-aside{
    padding-left: 2rem;
  
    margin-top: 2rem;
   
}
#cd-price{
    align-items: center;
    display: flex;
    margin-top: 2rem;
}
#cd-price-button{
    margin-top: 2rem;
    text-align: center;
    margin-right: 1rem;
    padding-bottom: 1rem;
    
   
}
#cd-price-button a{
    color: #002147;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    background: #fdbb18;
    padding: 1rem 5rem;
}
#cd-price h5{
    color: #002147;
    font-size: 17.5px;
    font-weight: 700;
    line-height: 21px;

}
#cd-price h3{
    color: #002147;
    font-size: 24.5px;
    font-weight: 500;
    line-height: 29.4px;
    margin-left: 14rem;
    
}
.price-list{
    margin-top: 1.5rem;
    align-items: center;
    display: flex;
    width: 20rem;
    
    
}
.price-list img{
    font-size: 14px;
    font-weight: 400;
    width: 1.25rem;
    height: 1.25rem;
}
.price-list h6{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-left: 1rem;

}
.price-list span{
    margin-left: auto;
    font-size: 15px;
    line-height: 22.5px;
   text-align: right;
}
#cd-price-button a{
    text-decoration: none;
}
#course-rating-title{
    width: 20rem;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid gainsboro;
}
#course-rating-title h5{
    color: #002147;
    font-size: 17.5px;
    font-weight: 700;
    line-height: 21px;      
}
#course-rating-holder{
    
    
    margin-top: 2rem;
    
    width: 20rem;
    align-items: center;
    text-align: center;
   
}
#cd-r-discussion{
    height: 10rem;
    width: 20rem;
    border: 1px solid gainsboro;
    border-radius: 7px;
}
#cd-r-discussion h1{
    margin-top: 0.5rem;
    color: #fdbb18;
    font-size: 45px;
    font-weight: 500;
    line-height: 54px;
}
#cd-r-discussion i{
    margin-top: 0.5rem;
    color: #666;
}

#discussion-message p{
    margin-top: 0.5rem;
    color: #495057;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

}
#stars-percent-holder{
    margin-top: 2rem;
}
.stars-percent{
    align-items: center;
    
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.stars-progress{
    border-radius: 5px;
    background: #edecef;
    width: 8.75rem;
    height: 1rem;
}
.stars-number p{
    color: #666;
    font-size: 14px;
    line-height: 21px;
}
.percentage{
    color: #666;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}
#course-review{
    margin-top: 2rem;
    display: flex;
}
#course-review textarea{
    border:1px gainsboro solid;
    color: #495057;
    border-radius: 0.3rem;
    outline: none;
    overflow: auto;
    resize: vertical;
    padding: 0.66rem 1rem;
    height: 7rem;
    width: 16rem;
    font-size: 16px;
    font-weight: 400;
    transition: all ease-in-out 0.15s;
}
#course-review textarea:focus{
    border:1px       solid #fdbb18;
    box-shadow: 0 0 10px#fdbb18;
}
#course-comments-image{
    margin-right: 1rem;
}
#course-comments-image img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
}
#course-stars .fa-star{
    font-size: 12px;
    font-weight: 400;
    color: gainsboro;
    cursor: pointer;
}

#course-stars  .fa-star:hover{
    color:#fdbb18 ;
}
#course-bottom-flex{
    margin-top: 1rem;
}
#cbf-send-button{
    font-size: 16px;
    font-weight: 700;
    border: none;
    color:rgb(0,33,71);
    background-color: rgb(253, 187, 24);
    padding: 0.75rem 1rem;
}
#cbf-add-button{
    font-weight: 700;
    font-size: 16px;
    border:none;
    padding: 0.75rem;
}
#course-q-and-a{
   
    margin-top: 2rem;
}
#course-q-and-a a{
    text-decoration: none;
}
.entry-rate{
    align-items: center;
    border-bottom: 1px solid gainsboro;
    display: flex;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.entry-title{
    margin-top: 1rem;
}
.entry-title a {
    font-size: 16.5px;
    font-weight: 400;
    color: rgb(0,33,71);
}

.entry-rate a{
    color: #333;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
}
.entry-rate a:hover{
    color: #c78e02;
}
.entry-rate span,b,i{
  font-size: 12px;

    color: rgba(102, 102, 102, 0.7) 

}
#entry-title-ask{
    margin-top: 1.6rem;
}

#entry-title-ask a{
    font-size: 16px;
    font-weight: 700;
    color: #002147;
    background-color: #fdbb18;
    padding:0.6rem 1rem;
}
#blogs{
    margin-top: 2rem;
}

.blog-content{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}
.blog-content i{
    margin-top: 0.80rem;
    font-size: 14px;
}

.blog{
    padding:2rem;
    border-bottom: 1px solid gainsboro;
    align-items: center;
    display: flex;
}
.blog-date-b{
    padding-right: 2rem;
    border-right: 1px solid gainsboro;
}
.blog-dd{
    font-size: 36px;
    color: #fdbb18;
    font-weight: 400;

}
.blog-m{
    font-size: 16px;
    color: #fdbb18;
    font-weight: 700;
}.blog-content a{
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    color: #002147;
}
/*        COURSE DETAILS END          */

 /*        PYTHON PAGE     START       */
 #top-menu-container{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    
}
#top-menu{
    
    margin: 0 auto;
    height: 3rem;
    padding: 1rem;
    display: flex;
    
    background-color: whitesmoke;
    align-items: center;

}
#top-menu a{
    text-decoration: none;
}
#top-menu-form{
    display: none;
    width: 15rem;
    margin-left: 5rem;
}
#back-btn{
    
    padding:0.4rem 0.90rem;
    border: 1px solid gainsboro;
    border-radius: 4px;
    color: #212529;
    font-size: 16px;
    line-height: 24px;
    transition: all ease 0.3s;
}
#back-btn:hover{
    background-color: rgba(253, 187, 100,0.2);
}
#back-btn i{
    color: #212529;
    margin-right: 0.30rem;
}
#top-menu ul{
    
    display: flex;
    list-style: none;
}
#top-menu li{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    
    margin: 0 0.40rem;
}
#top-menu li a{
    color: rgba(0, 0, 0, 0.5);
}
#top-menu li a:hover{
    color:#002147;
}
#top-menu-input-group{
    margin-right: 24rem;
    display: flex;
    
    
   
}
#top-menu-input-group input{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px solid gainsboro;
    font-size: 16px;
    width: 13rem;
    outline: none;
    padding-left: 0.60rem;
    height: 2.5rem;
    transition: all ease-in-out 0.15s;
}
#top-menu-input-group input:focus{
    border:1px       solid #fdbb18;
    box-shadow: 0 0 10px#fdbb18;
}
#top-menu-input-append button{
    outline: none;
    border: none;
}
#top-menu-input-append i{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    
    font-size: 16px;
    color: black;
    background-color: #fdbb18;
    height: 2.5rem;
    width : 2.5rem;
    line-height: 40px;
}
#pp-main-img{display: none;}
#pp-tablet-img{
    display: none;
    margin-top: 3rem;
}
#pp-mobile-img{
    margin-top: 3rem;
}
#pp-bg{
     background-color: whitesmoke;
     margin-top: 0.5rem;
     height: 100%;
 }
 #pp-container{
    margin-top: 1rem;
    width: 100%;
    height: 100%;
   
}
#article-aside-container{
    width: 100%;
    display: flex;
}
#article-title{
    width: 100%;
    align-items: center;
    display: flex;
    
}
#article-title a{
   
    margin-left: 3rem;
}
#article-title a i{
    margin-bottom: 12rem;
    font-size: 16px;
    margin-right: 2rem;
    line-height: 24px;
}
#article-title h1{
    color: #002147;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    
}
#article-vote-flex{
    margin-bottom: 12rem;
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 1rem;
}
#article-vote-flex button{
    border: none;
    background: none;
}
#article-vote-flex i{
    font-size: 16.8px;
    line-height: 25px;
   
}
#article-vote-flex .fa-sort-up{
    padding-top: 0.70rem;
    padding-right: 0.80rem;
}
#article-vote-flex .fa-sort-down{
    padding-bottom: 0.40rem;
    padding-left: 0.80rem;
}
#article-title .fa-star{
    margin-bottom: 2rem;
    font-size: 22px;
    font-weight: 400;
    line-height: 23px;
    color: rgba(102, 102, 102, 0.7);
}
#article-bottom-flex{
   
    align-items: center;
    text-align: center;
    margin-top: 0.2rem;
    display: flex;
}
#article-bottom-flex i{
    margin-left: 13rem;
    font-size: 16px;
}
#article-bottom-text{
    display: flex;
    flex-direction: column;
}
#article-bottom-text a{
    text-decoration: none;
}
#article-bottom-span{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: rgb(102, 102, 102);
}
#article-bottom-time{
    font-size: 11.2px;
    font-weight: 700;
    line-height: 14px;
    color: rgba(102, 102, 102, 0.7);
}
#article-camera img{
    width: 1.75rem;
    height: 1.75rem;
}
#article-comment-share-flex{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    
    
}

#article-comment-share-flex i{
    
    font-size: 12px;
    
}
#comment-link{
    padding: 0.05rem 0.5rem;
    border:1px solid gainsboro;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#share-link{
    padding: 0.05rem 0.5rem;
    border-top:1px solid gainsboro;
    border-right:1px solid gainsboro;
    border-bottom:1px solid gainsboro;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#pp-article{
   margin-left: 1rem;
}
#pp-aside{
    display: none;
    margin-top: 2rem;
    margin-left: 5rem;
}
#person-info-text{
    margin-left: 0.5rem;
}
#person-info{
    align-items: center;
    text-align: left;
}
#person-info a{
    text-decoration: none;
    display: flex;
    
}
#person-info h6{
    color: #002147;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
#person-info small{
    color: rgba(102, 102, 102, 0.7);
    font-weight: 700;
    font-size: 11.2px;
}
#person-info img{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}
#my-posts,#favourites,#followed-posts,#followed-tags{
    align-items: center;
    margin-top: 1rem;
}
#my-posts a,#favourites a ,#followed-posts a,#followed-tags a{
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: rgb(102, 102, 102)
}
#my-posts i,#favourites i ,#followed-posts i,#followed-tags i{
    margin-right: 0.5rem;
}
#favourites i{
    color: #666;
}
#my-posts a:hover > i {
    color: black;
    
}
#favourites a:hover > i{
    color: black
}
#followed-posts a:hover > i{
    color: black
}
#followed-tags a:hover > i{
    color: black
}
#space{
    height: 14.05rem;
    display: none;
}
/* Python Programming Page END   */

/*      BlOG START     */
#blog-bg-container{
    position: relative;
}
#blog-bg img{
    width:100%;
    height: 15rem;
}
#blog-bg-text{
    text-align: left;
    left: 2rem;
    position: absolute;
    top: 4rem;
    
}
#blog-bg-text-hover:hover >p{
    color: gainsboro;
    
}
#blog-bg-text-hover:hover >h1{
    color: gainsboro;
    
}
    
#blog-bg-text a{
    font-size: 18px;
    font-weight: 400;
    padding: 0.01rem 0.5rem;
    background: rgb(232, 235, 242);
    border-radius: 4px;
    border: 1px solid rgb(232, 235, 242);
    color: #212529;
    text-decoration: none;
}
#blog-bg-text h1{
    text-align: left;
    
    font-size: 33px;
    color: white;
    line-height: 50px;
    font-weight: 300;
    cursor: pointer;
}
#blog-bg-text p{
    
    color: white;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    line-height: 30px;
}
#blog-top-menu-container{
    background: #f9f9f9;    
}
#blog-top-menu{
    align-items: center;
    padding: 0.5rem;
    
    display: flex;
    flex-direction: column;
    
}
#blog-top-menu ul{
    flex-direction: column;
    list-style: none;
    display: flex;
}
#blog-top-menu li{
    padding-top: 1rem;
    padding-left: 1rem ;
}
#blog-top-menu ul span{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.3);
}
#active-page{
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

}
#blog-top-menu a{
    text-decoration: none;
}
#blog-top-menu b{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;


}
#blog-top-menu-input-group{
    display: flex;
    
    
}
#blog-top-menu-input-group input{
    margin-top: 1rem;
    padding-left: 0.80rem;
    font-size: 16px;
    height: 2.4rem;
    width: 19rem;
    outline: none;
    border: 1px solid gainsboro;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
}
#blog-top-menu-input-group button{
    margin-top: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    background: #fdbb18;
    border: 1px solid gainsboro;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#blog-top-menu-input-group i{
    font-size: 16px;
    color: black;
}
#blog-article-container{
    
   
    
    
    display: flex;
    flex-wrap: wrap;
    
    
}
.blog-article{
    margin-top: 2rem;
    margin-left: 0.80rem;
}
.blog-article a{
    text-decoration: none;
}
.blog-article-image-container{
    
    width: 22rem;
    height: 9.75rem;
    position: relative;
}
.blog-article-image-container:hover{
    opacity: 0.8;
}
.blog-article-image span{
    margin-left: 0.5rem;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;

}
.blog-article-text{
    width: 22rem;
    margin-top: 1rem;
}
.blog-article-text-title{
    color: rgb(102, 102, 102);
    font-size: 17.5px;
    font-weight: 400;
    line-height: 21px;
}
.blog-article-text-content p{
    margin-top: 0.60rem;
    font-size: 13px;
    line-height: 19px;
    color: rgb(102, 102, 102);
}
.blog-article-image img{
    border-radius: 4px;
    width: 22rem;
    height: 9.75rem;

}
.blog-article-tags-container{
    margin-top: 0.35rem;
}
.blog-article-tags-container a{
    border-radius: 4px;
    padding: 0.1rem 0.2rem;
    color: rgb(52, 52, 52);
    font-size: 10.5px;
    font-weight: 700;
    line-height: 18.5px;
    border: 1px solid gainsboro;
}
.blog-article-tags-container a:nth-child(1):hover{
    color: #c78e02;
}
.blog-article-tags-container a:nth-child(2):hover{
    color: #c78e02;
}

.blog-article-time p{
    color: rgb(102, 102, 102);
    font-size: 10.4px;
    font-weight: 700;
    line-height: 15px;

}

.mini-text-container{
    margin-left: 0.5rem;
    top: 8rem;
    position: absolute;
    display: flex;
}
.mini-text-container img{
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
}
.blog-article-bottom-flex{
    align-items: center;
    display: flex;
}
.blog-article-bottom-flex a{
    color: rgb(102, 102, 102);
    font-size: 10.4px;
    font-weight: 700;
    line-height: 15px;
}

.blog-article-folder{
    margin-left: auto;
}
.blog-article-folder a{
    color:black
}
.blog-article-folder a:hover{
    color: #c78e02;
}
}